@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #FDFDFF;
}

.textlabel {
  color: #323854;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.textbut {
  color: #008AFF;
  font-family: sans-serif;
}
